#title {
    background-color: rgb(46, 94, 250);
    height: 55px;
    color: white;
    
    padding-left: 20px;
}
body{
    background-color: gray
}
#day-1, #day-2, #day-3, #day-4, #day-5{
    background-color: white;
}
h4, h5{
    color:white
}
#location-today{
    background-color: rgb(46, 94, 250);
    margin: 5px
}
.btn{
    background-color:rgb(46, 94, 250);
}